/* цвет основного текста SLATE: #434455; */
/*заголовки NAVY BLUE: #2E2F42; */
/* акцент Iris: #4D5AE5; */
/* вторичный цвет фона CLOUD: #F4F4FD; */
/* top line color CORNFLOWER: #E7E9FC; */

/* CSS variables */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primery-white-color: #ffffff;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primery-white-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    cursor: pointer
}

.butoon:hover,
.button:focus {
    color: #404BBF
}

.button.primery {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    border: transparent;
}

.button.secondary {
    color: var(--accent-color);
    background-color: #F4F4FD;
    border: var(--accent-color);
}

/* Index.html */
/*  Header */
.list {
    list-style: none;
    text-decoration: none;
}

.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;

    text-transform: uppercase;
    text-decoration: none
}

.logo:hover {
    color: var(--accent-color);
}

.logo-span {
    color: var(--title-text-color);
}

/* #2E2F42 */
/* Site nav */
.site-nav .link {
    color: var(--title-text-color);

    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #404bbf
}

/* Address */
.address {
    font-style: normal;
}

.address-link {
    color: #434455;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

    text-decoration: none;
}

/* Main */
/* Hero */
.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--primery-white-color);

    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
}

/* Sections */
.section-title {
    color: var(--title-text-color);

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;

    letter-spacing: 0.02em
}

/* Features */
.features-list .title,
.profile-list .title,
.projects-list .title {
    color: var(--title-text-color);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

/* Projects */

/* Profile */
/* .profile-list .title {
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
} */

/* Profile.html */

/* projects */
/* .projects-list .title {
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    text-align: left;
} */